<div class="header">
  <h1>Lista de Clientes</h1>

  <button mat-raised-button color="accent" (click)="openClientModal()">
    <mat-icon>add</mat-icon>
    Agregar Cliente
  </button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="cedula">
    <th mat-header-cell *matHeaderCellDef>Cédula</th>
    <td mat-cell *matCellDef="let element">{{ element.cedula }}</td>
  </ng-container>

  <ng-container matColumnDef="nombres">
    <th mat-header-cell *matHeaderCellDef>Nombres</th>
    <td mat-cell *matCellDef="let element">{{ element.nombres }}</td>
  </ng-container>

  <ng-container matColumnDef="apellidos">
    <th mat-header-cell *matHeaderCellDef>Apellidos</th>
    <td mat-cell *matCellDef="let element">{{ element.apellidos }}</td>
  </ng-container>

  <ng-container matColumnDef="direccion">
    <th mat-header-cell *matHeaderCellDef>Dirección</th>
    <td mat-cell *matCellDef="let element">{{ element.direccion }}</td>
  </ng-container>

  <ng-container matColumnDef="edad">
    <th mat-header-cell *matHeaderCellDef>Edad</th>
    <td mat-cell *matCellDef="let element">{{ element.edad }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="openClientModal(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="openConfirmModal(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
