<h1 mat-dialog-title> {{ isAdding ? "Agregar Cliente" : "Actualizar Cliente" }}</h1>

<form [formGroup]="clientForm" (ngSubmit)="submit()" novalidate>
  <div mat-dialog-content>
    <ng-template #instructionsBlock>
      <p>Por favor, ingresa tus credenciales</p>
    </ng-template>

    <div class="inputs-wrapper">
      <mat-form-field appearance="fill">
        <mat-label>Cédula</mat-label>
        <input
          matInput
          placeholder="Ej: 09XXXXXXX"
          maxlength="10"
          formControlName="cedula"
        />
        <mat-error *ngIf="isInvalid('cedula')">
          {{ getErrorMessage("cedula") }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nombres</mat-label>
        <input matInput formControlName="nombres" />
        <mat-error *ngIf="isInvalid('nombres')">
          {{ getErrorMessage("nombres") }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Apellidos</mat-label>
        <input matInput formControlName="apellidos" />
        <mat-error *ngIf="isInvalid('apellidos')">
          {{ getErrorMessage("apellidos") }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="direccion" />
        <mat-error *ngIf="isInvalid('direccion')">
          {{ getErrorMessage("direccion") }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Edad</mat-label>
        <input matInput type="number" formControlName="edad" />
        <mat-error *ngIf="isInvalid('edad')">
          {{ getErrorMessage("edad") }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial>Cancelar</button>
    <button mat-raised-button color="primary" type="submit">
      {{ isAdding ? "Agregar" : "Actualizar" }}
    </button>
  </div>
</form>
